backcall==0.1.0
beautifulsoup4==4.6.3
decorator==4.3.0
get==1.0.3
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
post==1.0.2
prompt-toolkit==2.0.5
ptyprocess==0.6.0
public==1.0.3
Pygments==2.2.0
query-string==1.0.2
request==1.0.2
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
